@import '../mixins.scss';

.repliesList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 23px;
  border-left: 1px solid rgba(100, 113, 150, .1);

  @include on-tablet {
    margin-left: 20px;
  }
}