@import '../mixins.scss';

.form {
  border-radius: 10px;
  background: #fff;
  padding: 24px;

  @include on-tablet {
    padding: 24px 32px;
  }
}

.title {
  color: #3a4374;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.25px;
  margin-bottom: 24px;
}

.actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chQuantity {
  color: #647196;
  font-size: 13px;
  font-weight: 400;

  @include on-tablet {
    font-size: 15px;
  }
}
