@import '../mixins.scss';

.container {
  margin: 0 auto;
  padding-inline: 24px;

  @include on-tablet {
    padding-inline: 0;
    max-width: 689px;
    display: flex;
    flex-direction: column;
  }

  @include on-desktop {
    max-width: 1110px;
    flex-direction: row;
  }
}
