@import '../mixins.scss';

.control {
  display: none;

  @include on-tablet {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
  }

  @include on-desktop {
    flex-direction: column;
    gap: 24px;
  }
}